:root {
  --light-gold: hsl(46, 59%, 54%);
  --gold: hsl(46, 79%, 54%);
  --dark-gold: hsl(46, 79%, 48%);
  --light-violet: hsl(263, 21%, 50%);
  --violet: hsl(263, 41%, 50%);
  --dark-violet: hsl(263, 41%, 40%);
  --light-green: hsl(129, 26%, 39%);
  --green: hsl(129, 46%, 39%);
  --dark-green: hsl(129, 46%, 32%);
  --light-red: hsl(1, 70%, 56%);
  --red: hsl(1, 100%, 56%);
  --dark-red: hsl(1, 100%, 46%);
  --light-pink: hsl(332, 70%, 58%);
  --pink: hsl(332, 100%, 58%);
  --dark-pink: hsl(332, 100%, 52%);
  --brown: #b89355;
  --blue: #1b53ba;
  --light-blue: hwb(198 71% 5%);
  --light-gray: rgb(233, 233, 233);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: x-large;
  color: black;
  background-color: var(--light-gray);
  width: 50%;
  margin: 20px auto;
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  font-size: 66px;
  text-align: center;
}

.main-title {
  color: var(--gold);
  padding: 10px;
  margin: 50px 0;
  text-shadow: 4px 0 var(--blue), -4px 0 var(--blue), 0 4px var(--blue),
    0 -4px var(--blue), 3px 3px var(--blue), -3px -3px var(--blue),
    3px -3px var(--blue), -3px 3px var(--blue);
}

.pokemon-list {
  list-style: none;
  padding: 0px;
}

.pokemon-list__item {
  margin: 10px 0px;
}

.pokemon-button {
  background-color: lightgray;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: larger;
  border: none;
  color: white;
}

.pokemon-button:active {
  transform: translateY(1px);
}

.pokemon-button--red {
  background-color: var(--light-red);
}

.pokemon-button--red:hover {
  background-color: var(--red);
}

.pokemon-button--red:active {
  background-color: var(--dark-red);
}

.pokemon-button--green {
  background-color: var(--light-green);
}

.pokemon-button--green:hover {
  background-color: var(--green);
}

.pokemon-button--green:active {
  background-color: var(--dark-green);
}

.pokemon-button--violet {
  background-color: var(--light-violet);
}

.pokemon-button--violet:hover {
  background-color: var(--violet);
}

.pokemon-button--violet:active {
  background-color: var(--dark-violet);
}

.pokemon-button--gold {
  background-color: var(--light-gold);
}

.pokemon-button--gold:hover {
  background-color: var(--gold);
}

.pokemon-button--gold:active {
  background-color: var(--dark-gold);
}

.pokemon-button--pink {
  background-color: var(--light-pink);
}

.pokemon-button--pink:hover {
  background-color: var(--pink);
}

.pokemon-button--pink:active {
  background-color: var(--dark-pink);
}
