body {
  text-align: left;
  font-size: x-large;
  color: black;
  background-color: antiquewhite;
  width: 80%;
  margin: 50px auto;
}
h1 {
  color: antiquewhite;
  background-color: black;
}

h1,
p {
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.name {
  font-weight: bold;
}

.height {
  font-style: italic;
}
