
 @function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

/* Variables */

$pk-gold: rgb(235, 180, 0);
$pk-violet: rgb(106, 62, 177);
$pk-green: rgb(0, 172, 26);
$pk-red: rgb(235, 4, 0);
$pk-pink: rgb(255, 10, 124);

:root {
    --pk-lighter-gold: #{tint($pk-gold, 30%)};
    --pk-light-gold: #{tint($pk-gold, 20%)};
    --pk-gold: #{$pk-gold};
    --pk-dark-gold: #{shade($pk-gold, 15%)};
    --pk-darker-gold: #{shade($pk-gold, 20%)};

    --pk-lighter-violet: #{tint($pk-violet, 30%)};
    --pk-light-violet: #{tint($pk-violet, 20%)};
    --pk-violet: #{$pk-violet};
    --pk-dark-violet: #{shade($pk-violet, 15%)};
    --pk-darker-violet: #{shade($pk-violet, 20%)};

    --pk-lighter-green: #{tint($pk-green, 30%)};
    --pk-light-green: #{tint($pk-green, 20%)};
    --pk-green: #{$pk-green};
    --pk-dark-green: #{shade($pk-green, 15%)};
    --pk-darker-green: #{shade($pk-green, 20%)};

    --pk-lighter-red: #{tint($pk-red, 30%)};
    --pk-light-red: #{tint($pk-red, 20%)};
    --pk-red: #{$pk-red};
    --pk-dark-red: #{shade($pk-red, 15%)};
    --pk-darker-red: #{shade($pk-red, 20%)};

    --pk-lighter-pink: #{tint($pk-pink, 30%)};
    --pk-light-pink: #{tint($pk-pink, 20%)};
    --pk-pink: #{$pk-pink};
    --pk-dark-pink: #{shade($pk-pink, 15%)};
    --pk-darker-pink: #{shade($pk-pink, 20%)};
  }

 

  /* General */
  
  body {
    padding-top: 135px;
    // background-color: --bs-gray;
  }

  /* Buttons */

  %btn-pokemon {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-weight: 600;
    --bs-btn-font-size: 2rem;
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-border-radius: 1rem;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-shadow: inset 0 3px 5px rgba (0, 0, 0, 0.125);
  }
  
  .btn-pokemon--red {
    @extend %btn-pokemon;
    --bs-btn-bg: var(--pk-light-red);
    --bs-btn-border-color: var(--pk-light-red);
    --bs-btn-hover-bg: var(--pk-red);
    --bs-btn-hover-border-color: var(--pk-red);
    --bs-btn-active-bg: var(--pk-darker-red);
    --bs-btn-active-border-color: var(--pk-dark-red);
    --bs-btn-focus-shadow-rgb: #{red($pk-red)}, #{green($pk-red)}, #{blue($pk-red)};
  }

  .btn-pokemon--green {
    @extend %btn-pokemon;
    --bs-btn-bg: var(--pk-light-green);
    --bs-btn-border-color: var(--pk-light-green);
    --bs-btn-hover-bg: var(--pk-green);
    --bs-btn-hover-border-color: var(--pk-green);
    --bs-btn-active-bg: var(--pk-darker-green);
    --bs-btn-active-border-color: var(--pk-dark-green);
    --bs-btn-focus-shadow-rgb: #{green($pk-green)}, #{green($pk-green)}, #{blue($pk-green)};
  }

  .btn-pokemon--gold {
    @extend %btn-pokemon;
    --bs-btn-bg: var(--pk-light-gold);
    --bs-btn-border-color: var(--pk-light-gold);
    --bs-btn-hover-bg: var(--pk-gold);
    --bs-btn-hover-border-color: var(--pk-gold);
    --bs-btn-active-bg: var(--pk-darker-gold);
    --bs-btn-active-border-color: var(--pk-dark-gold);
    --bs-btn-focus-shadow-rgb: #{gold($pk-gold)}, #{green($pk-gold)}, #{blue($pk-gold)};
  }

  .btn-pokemon--violet {
    @extend %btn-pokemon;
    --bs-btn-bg: var(--pk-light-violet);
    --bs-btn-border-color: var(--pk-light-violet);
    --bs-btn-hover-bg: var(--pk-violet);
    --bs-btn-hover-border-color: var(--pk-violet);
    --bs-btn-active-bg: var(--pk-darker-violet);
    --bs-btn-active-border-color: var(--pk-dark-violet);
    --bs-btn-focus-shadow-rgb: #{violet($pk-violet)}, #{green($pk-violet)}, #{blue($pk-violet)};
  }

  .btn-pokemon--pink {
    @extend %btn-pokemon;
    --bs-btn-bg: var(--pk-light-pink);
    --bs-btn-border-color: var(--pk-light-pink);
    --bs-btn-hover-bg: var(--pk-pink);
    --bs-btn-hover-border-color: var(--pk-pink);
    --bs-btn-active-bg: var(--pk-darker-pink);
    --bs-btn-active-border-color: var(--pk-dark-pink);
    --bs-btn-focus-shadow-rgb: #{pink($pk-pink)}, #{green($pk-pink)}, #{blue($pk-pink)};
  }

  /* Modal */

  %modal {
    --bs-modal-border-radius: 1.5rem;
    --bs-modal-header-border-width: 0;
  }

  .modal--red {
    @extend %modal;
    --bs-modal-bg: var(--lighet-red);
  }

  .modal--gold {
    @extend %modal;
    --bs-modal-bg: var(--lighet-gold);
  }

  .modal--green {
    @extend %modal;
    --bs-modal-bg: var(--lighet-green);
  }

  .modal--violet {
    @extend %modal;
    --bs-modal-bg: var(--lighet-violet);
  }

  .modal--pink {
    @extend %modal;
    --bs-modal-bg: var(--lighet-pink);
  }
  
  .modal-cell {
    background-color: var(--bs-white);
    padding: 1rem;
    margin: 0.25rem;
    border-radius: 1rem;
  }
  
  .modal-cell h5 {
    font-weight: bold;
  }